<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" method="post">
        name:<input type="text" name="heroname" id="" value="{{ hero.name }}" >
        <br>
        技能：<input type="text" name="herocontent" value="{{ hero.content }}" >
        <br>
        {% if hero.gender == "male"  %}
        性别：<input type="radio" value="male" name="sex" checked>男
        <input type="radio" value="female" name="sex" >女

        {% else%}
        性别：<input type="radio" value="male" name="sex" >男
        <input type="radio" value="female" name="sex" checked>女
        {% endif %}

        <br>
        <input type="submit"value="提交">
    </form>
</body>
</html>