<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="center">
<div class="container">
<h2>这是首页</h2>
<div>
    <img src="/static/img/虚拟环境.png" alt="">
</div>
    <h3>共有书籍({{books.count}})</h3>
<ul>
    {% for book in books %}
    {# <a href="/detail/{{book.id}}"><li>{{book.title}} --{{book.price}} </li></a> #}

   <li> <a href="{% url 'booktest:detail' book.id %}">{{book.title}} --{{book.price}} </a>
       <a href="{% url 'booktest:deletebook' book.id %}">删除</a>
   </li>
    {% endfor %}
</ul>

</div>
</body>
</html>